@import url('nunito.css');

.hidden {
  display: none;
}

body {
  color: rgb(215, 215, 228);
  font-family: "Nunito-Regular", sans-serif;
  text-align: center;
}

.option-button {
  color: rgb(215, 215, 228);
  border-radius: 35px;
  border: 0px solid black;
  background-color: rgb(39, 40, 41);
  font-size: 16px;
}

.toggleA-button {
  color: rgb(215, 215, 228);
  border-radius: 10px;
  background-color: rgb(39, 40, 41);
  border: 0px solid rgb(102, 102, 102);
  font-size: 35px;
  width: 45px;
  height: 45px;
}

.toggleB-button {
  color: rgb(215, 215, 228);
  border-radius: 10px;
  background-color: rgb(39, 40, 41);
  border: 0px solid rgb(102, 102, 102);
  font-size: 35px;
  width: 45px;
  margin: 4px;
}

.output-button {
  color: rgb(215, 215, 228);
  border-radius: 10px;
  background-color: rgb(39, 40, 41);
  border: 1px solid rgb(102, 102, 102);
  font-size: 20px;
  height: 28px;
  margin: 10px;
}

.output-button:active {
  background-color: rgb(70, 70, 70);
}

.chord-button {
  color: rgb(215, 215, 228);
  border-radius: 10px;
  background-color: rgb(39, 40, 41);
  border: 1px solid rgb(102, 102, 102);
  font-size: 13px;
  height: 50px;
  margin: 5px;
  line-height: 15px;
}
.chord-button:active {
  background-color: rgb(70, 70, 70);
}

.dropdown {
  color: rgb(215, 215, 228);
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
  border: 0px solid rgb(102, 102, 102);
  font-size: 20px;
  margin: 10px;
}

.custom-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(70, 70, 70);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #04d331;
}

input:focus+.slider {
  box-shadow: 0 0 1px #130d63;
}

input:checked+.slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}